In [2]:
import pandas as pd

In [64]:
data_path = '/home/liujunwen/MAKER_BRB/data/features.csv'
df = pd.read_csv(data_path,)
df.head()

,id,V1,Unnamed: 2,Unnamed: 3,Unnamed: 4,V2,Unnamed: 6,Unnamed: 7,Unnamed: 8,V3,Unnamed: 10,h
0,NaN,A1,B1,C1,D1,A2,B2,C2,D2,A3,B3,NaN
1,1.0,0.3,0.7,0,0,1,0,0,0,0,1,0.0
2,2.0,0,0.5,0.5,0,1,0,0,0,1,0,1.0
3,3.0,0,1,0,0,0,1,0,0,1,0,1.0
4,4.0,0,0,1,0,0,1,0,0,0,1,0.0

In [23]:
df[df['h']==-1]['A1'].sum()

0.6

In [62]:
def get_phvq(df,h,vq):
    sum_vq = df[vq].sum()
    sum_h_vq = df[df['h']==h][vq].sum()
    return sum_h_vq/sum_vq

def get_joint_phvv(df,h, v1, v2):
    
def get_h(df):
    return set(df['h'].values)

def get_features(df):
    cols = set(df.columns)
    cols.remove('id')
    cols.remove('h')
    return cols

def get_p_h_vq(df):
    df_p_h_vq = pd.DataFrame(columns=['vq', 'h','p'])
    i = 0
    for h in get_h(df):
        for vq in get_features(df):
            # _data = {'vq':vq, 'h':h, 'p':count_phvq(df,h,vq)}
            # print(_data)
            _data = [vq, h, get_phvq(df,h,vq)]
            df_p_h_vq.loc[i] = _data
            i += 1
    return df_p_h_vq

In [25]:
count_phvq(df, -1, 'A1')

0.25

In [26]:
count_phvq(df, 0, 'A1')

0.33333333333333337

In [27]:
count_phvq(df, 1, 'A1')

0.4166666666666667

In [44]:
get_features(df)

{'A1', 'A2', 'B1', 'B2', 'C1', 'C2', 'D1', 'D2'}

In [47]:
df_p_h_vq = pd.DataFrame(columns=['vq', 'h','p'])
df_p_h_vq

Empty DataFrame
Columns: [vq, h, p]
Index: []

In [63]:
get_p_h_vq(df)

    vq   h         p
0   C1   0  0.500000
1   A2   0  0.846154
2   D1   0       NaN
3   C2   0  0.666667
4   A1   0  0.333333
5   B1   0  0.666667
6   B2   0  0.500000
7   D2   0  0.600000
8   C1   1  0.500000
9   A2   1  0.000000
10  D1   1       NaN
11  C2   1  0.000000
12  A1   1  0.416667
13  B1   1  0.333333
14  B2   1  0.000000
15  D2   1  0.200000
16  C1  -1  0.000000
17  A2  -1  0.153846
18  D1  -1       NaN
19  C2  -1  0.333333
20  A1  -1  0.250000
21  B1  -1  0.000000
22  B2  -1  0.500000
23  D2  -1  0.200000

In [4]:
C1 = 38/(38+409+2067)
C1

0.015115354017501989

In [5]:
C2 = 49/(1+48+251+685)
C2

0.049746192893401014

In [6]:
C1/(C1+C2)

0.23304029486477065

In [10]:
a=['a',{'b','c'}]

In [11]:
a

['a', {'b', 'c'}]

In [12]:
[{'b','c'}==_a for _a in a]

[False, True]